body{
    background-color: white;
}
.zero{
    background-color: #c1e4e4;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.one{
    padding: 20px;

}
.two{
    padding: 100px;
}
.my-name{
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    letter-spacing: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.about{
    text-align: center;
    letter-spacing: 2px;
}
.profile{
    background-color: white;
    padding-top: 100px;
}
h1{
    color: #66bfbf;
    
}
h3{
    text-align: center;
    color: #66bfbf;
}
.About-container{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Education{
    color: #66bfbf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.Skills{
    color: #66bfbf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    color: black;
    list-style: none;
    text-align: center;
}
.Skills ul li {
    text-align: justify;
    letter-spacing: 10px;
    font-size: x-large;
}