body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    
}
.user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}
.user-profile{
    background-image: url(./IMG_1009.jpg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
} 
.About{
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
}
h2{
    color: white;
    font-family: "Libre Baskerville", serif;
}
#white{
    color: white;
    padding: 10px;
}
.two{
    display: flex;
    justify-content: center;    
}
.white li{
    display: flex;
    list-style: none;
    padding: 10px;
   
}
footer{
    color: white;
    text-align: center;
}
@media (max-width: 480px){
    body{
        background-color: seagreen;
    }
}
